# Node.js
node_modules/

# Express.js
.env

# Build & Cache
build/
coverage/
.nyc_output/

# Logs
*.log

# IDE & Editor Specific
.vscode/*
!.vscode/extensions.json

# React & Typescript
# Ignore Typescript cache and built files
*.tsbuildinfo
dist/

# Testing

# Dependency Lockfiles
pnpm-lock.yaml